<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Project Specific Logs set to DEBUG -->
    <logger name="com.ecommerce.product" level="DEBUG" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <!-- General Framework Logs set to INFO -->
    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
